html,
body {
    height: 100%
}
body {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #333;
    background: #fff
}
a {
    color: #7dc33a;
    text-decoration: none;
    cursor: pointer
}
a:hover {
    text-decoration: underline
}
#logo a,
.entry a,
.col a,
.menu a,
.breadcrumb a,
.footer a,
a.content-button,
.home-box-item,
.home-box-item img,
.home-box-item:hover img,
.home-box-item:hover h4.entry a img,
.entry a img,
.entry a img:hover,
.home-box-item h4,
.home-box-item:hover h4 {
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s
}
a img {
    border: 0
}
input,
textarea,
select {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}
textarea {
    overflow: auto
}
.table-container {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}
.cl,
.cl-col3,
.cl-slogan {
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    clear: both
}
.cl {
    display: block
}
.cl-col3 {
    display: none
}
.cl-slogan {
    display: none
}
.notext {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px
}
.left {
    float: left
}
.right {
    float: right
}
.under {
    text-decoration: underline
}
h1 {
    font-size: 24px;
    line-height: 28px
}
h2 {
    font-size: 20px;
    line-height: 24px
}
h3 {
    font-size: 18px;
    line-height: 22px
}
h4 {
    font-size: 16px;
    line-height: 20px
}
.shell h1,
.shell h2,
.shell h3,
.shell h4 {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: none;
    color: #0C5D18;
    text-align: left
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px
}
.entry {
    margin-bottom: 0px;
    text-align: justify
}
.entry img {
    padding: 5px
}
.entry a img:hover {
    opacity: 0.7
}
.entry img.left {
    padding-right: 8px
}
.entry img.right {
    padding-left: 8px
}
.entry h2,
.entry h3 {
    padding: 0;
    margin-bottom: 18px;
    color: #0C5D18;
    border-bottom: #ecebeb 1px solid;
    line-height: 30px;
    box-shadow: 0 1px 0 0 #fff, -2px 14px 12px -13px #b4b3b3
}
.entry p {
    margin: 0;
    padding-bottom: 12px;
    text-indent: 20px
}
.entry a {
    color: #339900;
    text-decoration: underline
}
.entry a:hover {
    color: #7dc33a;
    text-decoration: none
}
.entry ol {
    margin-top: 0;
    list-style-position: inside
}
.entry ul {
    margin: 6px;
    padding: 0;
    list-style-type: none;
    overflow: hidden
}
.entry ul li {
    position: relative;
    padding-left: 15px;
    padding-bottom: 10px;
    line-height: 18px;
    list-style-type: none
}
.entry ul li::before {
    position: absolute;
    content: "";
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    width: 9px;
    height: 9px;
    background-position: -85px -56px;
    top: 4px;
    left: 0
}
.entry table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    word-wrap: break-word;
    border: 2px solid #aaa
}
.entry th {
    border: solid 1px #fff;
    background: #1a8f1d;
    color: #fff;
    padding: 3px 10px;
    text-align: center
}
.entry td {
    border: solid 1px #aaa;
    padding: 0px 5px;
    background: #b7f698;
    color: #2d2b2b;
    text-align: center
}
.entry td a:hover {
    text-decoration: none
}
.entry ul li a {
    text-decoration: underline;
    color: #333
}
.entry ul li a:hover {
    text-decoration: none
}
.shell {
    position: relative;
    width: 1200px;
    margin: 0 auto
}
#header {
    background: #048417;
    background: linear-gradient(to top, #18ba18, #0a930a);
    position: relative;
    margin-top: 7px;
    box-shadow: inset 0 5px 12px -8px #000
}
.header-home {
    height: 394px;
    box-shadow: inset 0 5px 12px -8px #000,0 0px 12px 0px #b4b3b3 !important
}
#logo {
    float: left;
    margin-top: 6px
}
#logo a {
    display: block;
    width: 290px;
    height: 85px;
    background: url(assets/templates/uss/img/logo.png) no-repeat 0 0
}
#logo a:hover {
    opacity: 0.9
}
.years {
    font-size: 0;
    position: relative;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    background-position: -136px -2px;
    width: 89px;
    height: 76px;
    margin-left: 10px;
    top: 14px;
    float: left
}
.slogan {
    width: 22%;
    margin-top: 16px;
    margin-left: 5px;
    float: left;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center
}
.telephone-shell {
    width: 43%;
    float: right;
    margin: 12px 0;
    position: relative;
    text-align: right
}
.telephone {
    float: left;
    width: 272px;
    display: block;
    line-height: 24px;
    text-shadow: 2px 2px 2px #333;
    vertical-align: middle;
    font-size: 28px;
    font-weight: bold
}
.telephone .tel1 {
    display: block;
    position: relative;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    cursor: default
}
.telephone .tel1::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 32px;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    background-position: -55px -76px
}
.telephone a.content-button {
    box-shadow: 0 0 2px 1px #fff
}
.telephone2 {
    display: block;
    position: relative;
    width: 198px;
    float: right;
    line-height: 24px;
    color: #F9E74B;
    text-shadow: 2px 2px 2px #333;
    font-size: 20px;
    font-weight: bold
}
.telephone2 a {
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: default
}
.telephone2::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 23px;
    height: 23px;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    background-position: -102px -4px
}
a.header-email {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 27px;
    color: #F9E74B;
    font-size: 22px;
    text-shadow: 2px 2px 2px #333;
    font-weight: bold
}
a.header-email:hover {
    cursor: pointer;
    text-decoration: underline
}
a.header-email:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 23px;
    height: 17px;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    background-position: -54px -108px
}
.breadcrumbs {
    width: 100%;
    background: #0a930a;
    background: linear-gradient(to top, #0a930a, #18ba18);
    color: #fff;
    margin-bottom: 16px;
    padding: 10px 0;
    box-shadow: -2px 14px 12px -13px #b4b3b3
}
.breadcrumb {
    color: #fff;
    text-shadow: 2px 2px 3px #333;
    padding: 0;
    margin: 0;
    font-size: 15px
}
.breadcrumb li {
    display: inline
}
.breadcrumb a {
    color: #F9E74B
}
.breadcrumb a:hover {
    color: #ffe500
}
.sticky-element {
    background: #fff;
    box-shadow: 0 0px 10px -2px #000
}
.sticky-anchor {
    display: none
}
.sidebar-menu {
    margin-bottom: 10px;
    text-align: left
}
.sidebar-menu ul {
    margin: 0
}
.sidebar-menu ul li {
    padding: 0;
    background: none;
    font-size: 16px;
    margin-bottom: 3px;
    margin-top: 3px
}
.sidebar-menu ul li a {
    color: #000;
    display: block;
    padding-left: 14px;
    text-align: left;
    font-weight: bold
}
.sidebar-menu ul li a:hover {
    text-decoration: none
}
.sidebar-menu ul li.active {
    color: #339900;
    font-weight: bold;
    padding-left: 14px
}
.sidebar-menu ul li.active ul {
    margin-left: -4px
}
.sidebar-menu ul li.active li {
    padding-left: 0px
}
.sidebar-menu ul li.active a {
    padding-left: 0px
}
.sidebar-menu ul li.active ul li a {
    padding-left: 14px
}
.sidebar-menu ul li.active ul li::before {
    left: 0px
}
.sidebar-menu ul li ul {
    padding: 7px 0;
    color: #555
}
.sidebar-menu ul li ul li {
    font-weight: normal;
    padding: 3px 0;
    padding-left: 10px;
    font-size: 13px
}
.sidebar-menu ul li ul li::before {
    top: 6px;
    left: 10px;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    width: 10px;
    height: 13px;
    background-position: -31px -56px
}
.sidebar-menu ul li ul li.active {
    color: #339900;
    font-weight: bold;
    padding-left: 14px
}
.sidebar-menu ul li ul li a {
    display: block;
    font-weight: normal;
    padding-bottom: 0;
    padding-left: 14px;
    text-decoration: none;
    color: #000
}
.promo {
    color: #ff4d00;
    margin-bottom: 28px
}
.promo h2.title {
    color: #ff4d00
}
.thanks {
    margin-bottom: 20px
}
.thanks a:hover {
    opacity: 0.6
}
#sidebar-gallery {
    position: relative;
    height: 360px
}
#sidebar-gallery a {
    float: left;
    position: absolute
}
#sidebar-gallery a:hover {
    opacity: 0.7 !important
}
#sidebar-gallery a img {
    z-index: 4;
    border: none
}
#sidebar-gallery a.show {
    z-index: 20
}
#sidebar-gallery .gallery-text {
    position: absolute;
    z-index: 5;
    margin-top: -60px;
    width: 95%;
    background: rgba(0, 0, 0, 0.7);
    padding: 6px
}
#sidebar-gallery h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #1DCCEF;
    font-weight: bold;
    margin-bottom: 10px
}
#sidebar-gallery p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #ff4d00;
    font-weight: bold;
    text-indent: 0
}
#sidebar-gallery span {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px
}
#main.home2 .shell {
    padding-top: 145px;
    text-align: justify
}
#main.home2 .entry {
    font-size: 14px
}
#main.home2 .entry img {
    height: auto;
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-left: 7px
}
#main.home2 .entry h2 {
    margin-top: 30px
}
#content {
    width: 71%;
    margin-bottom: 18px
}
.entry img {
    max-width: 100%;
    height: auto
}
#content .gallery-device {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0
}
#content .gallery-device img {
    max-width: 48%;
    height: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    padding-right: 5px
}
#sidebar {
    width: 27%;
    text-align: left
}
#sidebar a {
    text-decoration: none
}
#sidebar .entry h3 {
    background: none;
    border: none;
    box-shadow: none
}
.entry .contact-info li {
    background: none;
    padding: 0;
    line-height: 20px;
    margin-bottom: 5px
}
.entry .contact-info li a {
    text-decoration: none
}
.entry .contact-info li a span {
    color: #187d1d
}
.home-box {
    display: block;
    width: 100%;
    margin-bottom: 15px
}
.home-box a {
    text-decoration: none
}
.home-box-item {
    float: left;
    display: block;
    background: #d7ffdb;
    color: #1a8f1d;
    width: 31%;
    min-height: 236px;
    margin: 0 7px 14px 7px;
    text-align: center;
    border: 1px solid #a3eda5;
    word-wrap: break-word
}
.home-box-item:hover {
    text-decoration: none;
    box-shadow: 0 0 1px 1px #7dc33a
}
.home-box-item:active {
    box-shadow: 0 0 2px 1px #0c980f
}
.home-box-item h4 {
    min-height: 48px;
    line-height: 16px;
    font-size: 14px;
    color: #05911a;
    font-weight: bold;
    text-transform: none;
    padding: 5px;
    text-align: center
}
.home-box-item:hover h4 {
    color: #7dc33a
}
.home-box-item:active h4 {
    color: #0c980f
}
.home-box-item img {
    width: 95%;
    bottom: 0;
    padding: 6px
}
.home-box-item:hover img {
    opacity: 0.7
}
.home-box-item:active img {
    opacity: 1
}
.home-box-item span {
    font-weight: bold
}
.home-box-item h4 span {
    display: block
}
ul.customBullet {
    list-style: none outside none
}
ul.customBullet li {
    padding-left: 26px
}
ul.customBullet li::before {
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    width: 19px;
    height: 16px;
    background-position: -4px -56px
}
ul.customBullet li a {
    color: #5ab13e;
    text-decoration: underline
}
ul.customBullet li a:hover {
    text-decoration: none
}
.index-content {
    width: 64%;
    float: left
}
.index-content ul {
    font-size: 14px
}
.index-content img.right {
    margin-left: 10px
}
.index-sidebar {
    width: 33%;
    margin-left: 0px;
    float: right
}
.index-sidebar a:hover {
    text-decoration: none
}
.index-sidebar .entry p {
    margin-bottom: 12px
}
.slider2 .shell {
    position: relative
}
.slider2 .slider-holder {
    z-index: 10;
    width: 98.2%;
    height: 364px;
    position: absolute;
    top: -240px;
    border: 11px solid #fff;
    box-shadow: 0 0px 12px 0px #b4b3b3;
    background: #138f1c;
    background: url(assets/templates/uss/img/slider2-holder.jpg) no-repeat right 0px, linear-gradient(to top, #048417, #7ec43a)
}
.slider2 .slider-holder .content {
    position: relative;
    overflow: hidden;
    height: 336px
}
.slider2 .slider-holder .content ul {
    list-style: none outside none;
    position: relative;
    overflow: hidden
}
.slider2 .slider-holder .content ul li {
    position: relative
}
.slider2 .slider-holder .content .jcarousel-clip,
.slider2 .slider-holder .content .jcarousel-container {
    width: 100%;
    height: 367px;
    position: relative;
    overflow: hidden
}
.slider2 .slider-holder .content ul li .image-holder {
    height: 274px;
    float: left;
    display: inline-block;
    margin: 20px 20px
}
.slider2 .slider-holder .content ul li .image-holder img {
    width: 420px;
    max-height: 274px;
    display: block;
    margin: 0;
    box-shadow: 2px 2px 12px 0px #000;
    border-radius: 4px;
    height: 100%;
    color: #fff
}
.slider2 .slider-holder .content ul li .text-holder {
    width: 50%;
    float: left;
    display: inline-block;
    margin: 20px 0px
}
.slider2 .slider-holder .content ul li .text-holder h3 {
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: none;
    text-shadow: 1px 1px 1px #459126
}
.slider2 .slider-holder .content ul li .text-holder p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px
}
.slider2 .slider-holder .content ul li .text-holder ul li {
    font-size: 16px;
    color: #fff;
    width: auto;
    height: auto;
    margin-bottom: 3px
}
.slider2 .slider-holder .content ul li .text-holder ul li::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 5px;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
    background-position: -85px -73px;
    margin-left: -25px
}
.slider2 .slider-holder .content ul li .text-holder .slider-btn {
    margin: 25px 0 0 15px
}
.slider2 .slider-holder .slider-bar {
    height: 50px;
    background: rgba(12, 93, 24, 0.49);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100
}
.slider2 .slider-holder .slider-bar .content {
    width: 100%;
    height: 50px;
    margin: 0 0 0 20px;
    padding: 0
}
.slider2 .slider-holder .slider-bar .content .jcarousel-clip,
.slider2 .slider-holder .slider-bar .content .jcarousel-container {
    width: 780px;
    height: 50px;
    border: none
}
.slider2 .slider-holder .slider-bar .content ul {
    z-index: 0;
    list-style: none outside none;
    position: relative
}
.slider2 .slider-holder .slider-bar .content ul li {
    width: 780px;
    height: 50px;
    position: relative;
    color: #fff;
    font-size: 15px;
    line-height: 50px
}
.slider2 .slider-holder .slider-bar .content ul li a {
    font-weight: bold;
    color: #EBEE05;
    font-size: 15px
}
.slider2 .slider-holder .slider-bar .content ul li a:hover {
    color: #fdbb38;
    text-decoration: none
}
.slider2 .slider-holder .slider-bar .carousel-down,
.slider2 .slider-holder .slider-bar .carousel-up {
    position: absolute;
    top: 2px;
    display: block;
    width: 41px;
    height: 44px;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px
}
.slider2 .slider-holder .slider-bar .carousel-down {
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat 0 0;
    right: 63px;
    background-position: -53px -4px
}
.slider2 .slider-holder .slider-bar .carousel-up {
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat 0 0;
    right: 18px;
    background-position: -4px -4px
}
.spoiler_main {
    background: #b7f698;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 15px
}
a.content-button {
    display: inline-block;
    position: relative;
    padding: 6px 40px;
    font-weight: bold;
    color: #fff;
    background: #389809;
    border-radius: 24px;
    font-size: 16px;
    text-indent:0;
    text-decoration: none
}
a.content-button:hover {
    background: #49d305;
    text-decoration: none;
    color: #333;
    box-shadow: 0 0 2px 1px #000
}
a.content-button:active {
    background: #3fb206;
    color: #666
}
a.content-button.gray {
    color: #047414;
    background: #fff
}
a.content-button.gray:hover {
    background: #ebee05;
    color: #333;
    box-shadow: 0 0 2px 1px #000
}
a.content-button.gray:active {
    background: #3fb206;
    color: #666
}
.content-button.spoiler_links {
    padding-left: 45px;
    margin-bottom: 30px;
    margin-top: 10px
}
.content-button.spoiler_links::before {
    content: "+";
    position: absolute;
    left: 10px;
    font-size: 18px;
    padding-left: 20px
}
.content-button.closed.spoiler_links::before {
    content: "-";
    top: 5px
}
a.content-button.spoiler_links::after {
    font-size: 10px;
    position: absolute;
    content: "(свернуть/развернуть форму)";
    width: 100%;
    min-width: 144px;
    font-weight: normal;
    background: none;
    color: #666;
    bottom: -28px;
    left: 0;
    text-align: center
}
a.content-button.modal-request:hover {
    background: #F9E74B
}
#footer,
#footer-push {
    height: 250px
}
.footer-cols,
.footer-cols .shell {
    background: #101b20;
    padding-top: 20px;
    padding-bottom: 10px
}
.footer-cols .col {
    float: left;
    min-height: 272px;
    border-right: #19272d solid 1px;
    border-left: #000 solid 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center
}
.footer-cols .col h3 {
    position: relative;
    font-size: 22px;
    color: #fff;
    margin-bottom: 1px;
    text-transform: none;
    font-weight: bold;
    text-align: center
}
.footer-cols .col p {
    color: #fff
}
.footer-cols .col img {
    height: 121px
}
.footer-cols .footer-col1 {
    width: 28%;
    border-left: none
}
.footer-cols .footer-col2 {
    width: 40%
}
.footer-cols .footer-col3 {
    width: 28%;
    border-right: none
}
.footer-cols .footer-col3 p {
    margin: 6px auto;
    color: #cbcbcb;
    line-height: 20px
}
.footer-cols .footer-col3 p strong {
    color: #fff
}
.footer-cols .footer-col3 p a,
.footer-cols .footer-col3 p span {
    color: #7DC33A;
    font-size: 18px
}
.footer-cols .footer-col3 p span a,
.footer-cols .footer-col3 p span a:hover {
    cursor: text;
    text-decoration: none
}
.footer-cols .footer-col3 h3 {
    padding-left: 30px;
    width: 118px;
    margin: 0 auto
}
.footer-cols .footer-col3 h3::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat 0 4px;
    background-position: -106px -66px;
    margin-left: -30px
}
.footer-links {
    background: #000;
    text-transform: uppercase;
    color: #666;
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 2px
}
.footer-links nav {
    display: block;
    float: left
}
.footer-links ul {
    margin: 0;
    list-style: none outside none;
    padding: 0px 0 0 0
}
.footer-links ul li {
    display: inline;
    border-right: 1px solid #1a1a1a;
    padding-right: 3px;
    margin-right: 3px
}
.footer-links ul li.last {
    border: 0
}
.footer-links ul li a {
    display: inline;
    color: #7DC33A
}
.banner-shell {
    line-height: 8px
}
.footer-count {
    float: left
}
.sbrf-rshb {
    float: right
}
.footer-all-rights {
    text-transform: none;
    text-align: center;
    border-bottom: 1px #7DC33A solid
}
.footer-final {
    padding: 5px 0
}
.footer-final,
.footer-final a {
    font-size: 12px;
    text-transform: none;
    text-align: right;
    color: #7DC33A
}
.sitemap ul {
    padding: 10px;
    list-style-type: none;
    margin: 10px 20px
}
.sitemap li::before {
    display: none
}
.sitemap ul li,
.sitemap li ul li {
    background: none
}
.sitemap ul ul,
.sitemap ul ul,
.sitemap ul ul ul,
.sitemap ul ul ul ul {
    padding: 10px;
    list-style-type: none;
    margin: 10px 20px;
    border-left: 3px solid #ccc
}
.sitemap ul li {
    padding: 2px
}
.sitemap a {
    color: #666
}
.sitemap a:hover {
    color: #187D1D
}
.scrollup {
    z-index: 20;
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    background: url(assets/templates/uss/img/uss-icons.png) no-repeat -4px -97px;
    opacity: 0.4
}
a.scrollup {
    font-size: 0
}
.scrollup:hover {
    opacity: 1
}
.desSlideshow {
    background-image: url(assets/media/slider-index/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 584px
}
.desSlideshow .switchBigPic,
.desSlideshow .nav {
    display: none
}
.desSlideshow li::before {
    display: none
}
.device-price {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px
}
.device-price a {
    text-decoration:none
}
.device-price h3 {
    margin-top: 0
}
.device-price .tel {
    cursor: default
}
.device-price .tel:hover {
    color: #339900
}
.anim-body {-webkit-animation:bounce 0.4s;animation:bounce 0.4s}
@keyframes bounce {
  0% {-webkit-transform:translateY(500px);transform:translateY(500px);}
  100% {-webkit-transform:translateY(0);transform:translateY(0);}
}
.close-body {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}
.spoiler_body p {
    padding-top: 11px
}
.page-contact {
    font-size: 16px
}
.page-contact p {
    display: block;
    margin-bottom: 12px;
    font-weight: bold
}
.page-contact span {
    font-weight: normal
}
a.no-link-decor {
    color: #555
}
.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    list-style-type: none
}
.menu li {
    display: inline-block;
    position: relative;
    margin: 0 16px;
    vertical-align: middle
}
.menu li a {
    display: block;
    font-weight: 600;
    text-decoration: none;
    color: #047414;
    padding: 10px 5px;
    text-align: center
}
.menu li:first-child + li ul {
    left: -114px;
    width: 980px
}
.menu li:first-child + li > ul ul {
    left: 0px;
    width: 100%
}
.menu li:hover > a {
    background: #F9E74B
}
.menu li li:hover > a {
    background: none
}
.menu li li:hover > a:hover {
    background: #2d9a23;
    border-radius: 4px;
    color: #fff
}
.menu ul {
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 42px;
    background: #ffffff;
    padding: 5px;
    box-shadow: 0 0 6px 0 #999;
    z-index: 200
}
.menu ul li {
    width: 31%;
    line-height: 22px;
    display: inline-block;
    background: rgb(244, 244, 244);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
    position: relative;
    float: none;
    padding: 0;
    vertical-align: top;
    margin: 5px
}
.menu .l1+.l1+.l1+.l1 li {
    width: 96%
}
.menu ul li a {
    display: block;
    padding: 6px;
    font-size: 13px;
    font-weight: normal;
    color: #339900;
    font-weight: bold;
    text-align: left
}
.menu ul li a:hover {
    background: #f0f0f0
}
.menu li:hover > ul {
    display: inline-block
}
.menu ul ul {
    display: inline-block;
    top: 0px;
    width: 100%;
    box-shadow: none;
    z-index: 100;
    text-transform: none;
    left: 0;
    padding: 0 0px;
    position: inherit;
    font-size: 12px
}
.menu ul li li {
    display: block;
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #d1cece;
    margin: 0
}
.menu ul li li a {
    color: #000;
    background: none;
    line-height: 16px
}
.mobile-menu {
    display: none;
    padding: 10px 0;
    background: #fff;
    border-radius: 4px;
    color: #0c5d18;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 9999
}
.mobile-menu::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 0px;
    padding: 3px 0;
    box-shadow: 0px 10px 0px 0 #038416, 0px -10px 0px 0 #038416;
    background: #038416;
    top: 18px;
    right: 17px
}
.mobile-menu:hover {
    background: #F9E74B;
    text-decoration: none
}
.my-gallery {
    width: 100%;
    margin-bottom: 14px;
    height: auto;
    float: left
}
.my-gallery.one-image {
    float: none
}
.my-gallery.one-image a {
    float: none;
    width: auto;
    max-height: inherit;
    margin-right: 0
}
.my-gallery.one-image img {
    width: auto
}
.my-gallery.image-float-left {
    float: left;
    width: auto
}
.my-gallery.image-float-left a {
    width: auto;
    margin-right: 5px
}
.my-gallery.image-float-right {
    float: right;
    width: auto
}
.my-gallery.image-float-right a {
    width: auto;
    margin-left: 5px
}
.my-gallery a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    width: 32%;
    max-height: 177px;
    line-height: 0
}
.my-gallery a:hover {
    opacity: 0.7
}
.my-gallery img {
    width: 100%;
    padding: 0
}
.my-gallery figure {
    display: none
}
.my-gallery__title {
    line-height: 14px;
    font-size: 14px;
    opacity: 0.8;
    margin-top: 5px;
    width: 100%;
    float: left
}
.share-buttons h2 {
    text-align: center;
    border: 0
}
.share-buttons {
    text-align: center;
    position: relative;
    margin: 0 0 24px
}
.share-buttons a {
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #FFF;
    text-decoration: none;
    background: #5AAF63;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer
}
.share-buttons a:hover {
    opacity: 0.7
}
#tweet {
    background: #0096c4
}
#like {
    background: #3b5998
}
#gplus {
    background: #d34836
}
.return-back {
    position: relative;
    margin-top: 18px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px
}
.return-back:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 34px;
    border-bottom: #ecebeb 1px solid;
    box-shadow: 0 1px 0 0 #fff, -2px 14px 12px -13px #b4b3b3
}
.modal {
    margin-bottom: 20px
}
.modal-request {
    margin-bottom: 10px
}
#modal_form,
#modal_form-request {
    border: 5px solid #389809;
    background-color: #FFF;
    background: #fff;
    position: fixed;
        bottom: 0; left: 0; top: 0; right: 0;
       overflow: auto;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
        max-height: 470px;
    text-align: center;
    display: none;
    opacity: 0;
    z-index: 99999999999
}
#overlay {
    z-index: 999999;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none
}
.ajax_form .phone-group,
.ajax_form .phone-group select,
.ajax_form input[type="text"],
.ajax_form input[type="email"],
.ajax_form .message-request {
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    color: #555;
    display: block;
    font-size: 14px;
    min-height: 35px;
    padding-left: 4px;
    margin-bottom: 10px;
    width: 95%;
    float: left
}
.ajax_form .phone-group select {
    width: 35%;
    margin: 0;
    height: 47px;
    margin-left: -6px
}
.ajax_form .phone-group {
    border: none;
    margin: 0;
    padding-left: 0
}
.ajax_form input[type="text"].phone-zv {
    width: 60%;
    float: left;
    margin-right: -6px
}
.ajax_form input[type="text"].error {
    border: 1px solid red
}
.ajax_form .comment {
    color: #272727;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
    padding-top: 10px
}
.ajax_form .exit {
    background: #18ba18;
    display: block !important;
    right: 0;
    top: 0;
    position: absolute;
    opacity: 1;
    width: 33px;
    height: 33px;
    line-height: 30px;
    font-size: 36px;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    text-decoration: none
}
.ajax_form .exit:after {
    display: block;
    font-size: 23px;
    content: "x";
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}
.ajax_form .exit:hover {
    background: #ffe500;
    text-decoration: none
}
.ajax_form .button {
    display: block;
    background-color: #389809;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    margin: 10px 0;
    padding: 2px 16px;
    width: 210px;
    margin: 0 auto;
    -webkit-transition: all 0.12s ease-in;
    -o-transition: all 0.12s ease-in;
    -moz-transition: all 0.12s ease-in;
    transition: all 0.12s ease-in
}
.ajax_form .button:hover {
    background-color: #ffe500;
    border: 1px solid #389809;
    color: #000
}
.ajax_form input[type="text"].field {
    display: none
}
.makesite {
    text-decoration: underline
}
.rc-free.rc-expanded #rc-copyright,
#rh-copy {
    display: none !important
}
@media screen and (max-width: 1244px) {
    .shell {
        width: 95%
    }
    .years {
        margin: 0
    }
    .slogan {
        display: none
    }
    .telephone-shell {
        width: 56%
    }
    .slider2 .slider-holder .content ul li .image-holder {
        margin: 20px 14px
    }
}
@media screen and (max-width: 1004px) {
    #content {
        width: 60%;
        padding: 3%
    }
    .sidebar-widget {
        padding: 8% 7%;
        margin-bottom: 10px
    }
    #logo {
        float: none;
        padding-top: 10px
    }
    #logo a {
        margin: 0 auto
    }
    .telephone-shell {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .slogan {
        display: block;
        width: 74%;
        margin-bottom: 20px;
        margin-top: 33px
    }
    .footer-cols .col {
        margin: 0;
        padding: 0;
        text-align: center
    }
    .footer-cols h3 {
        text-align: center
    }
    .footer-cols .footer-col1 {
        width: 47%
    }
    .footer-cols .footer-col2 {
        width: 47%;
        margin-bottom: 10px;
        border-right: none
    }
    .cl-col3 {
        display: block
    }
    .footer-cols .footer-col3 {
        width: 100%;
        padding-top: 10px;
        border-left: none
    }
    .footer-links nav {
        width: 100%;
        float: none;
        border-bottom: #101b20 solid 1px;
        margin-bottom: 5px;
        padding-bottom: 5px
    }
    .footer-links ul li {
        display: inline-block
    }
    .footer-final,
    .footer-links .shell {
        text-align: center
    }
    img {
        max-width: 100%
    }
    .entry h2.title {
        margin-top: 0
    }
    .slider2 {
        display: none
    }
    .header-home {
        height: auto;
        padding-bottom: 10px
    }
    .home-box-item {
        width: 45%
    }
    .home-box-item img {
        height: 77%
    }
    .home-box-item h4 {
        font-size: 14px
    }
    #main.home2 .entry h2 {
        margin-top: 10px
    }
    #main.home2 .shell {
        padding-top: 0;
        font-size: 100%;
        -webkit-text-size-adjust: none
    }
    #main,
    #main .shell {
        background: 0 0;
        padding: 0 0 15px
    }
    .index-sidebar {
        display: none;
        width: 100%;
        margin: 0
    }
    .index-content {
        width: 100%
    }
}
@media screen and (max-width: 653px) {
    h2 {
        font-size: 18px
    }
    h3 {
        font-size: 16px
    }
    #header {
        height: auto
    }
    #logo,
    .menu {
        position: static
    }
    #logo {
        width: 100%;
        margin-bottom: 10px
    }
    .telephone {
        width: 208px;
        font-size: 21px
    }
    .telephone-shell {
        width: 96%
    }
    .telephone .tel1 {
        margin-bottom: 16px
    }
    .telephone a.content-button {
        font-size: 14px;
        padding: 6px 26px
    }
    .cl-slogan {
        display: block
    }
    .entry p img,
    .telephone2 a {
        display: block
    }
    .header-email {
        margin: 0;
        width: 40%
    }
    #content {
        width: auto;
        font-size: 120%;
        -webkit-text-size-adjust: none;
        float: none
    }
    .device-price {
        margin-bottom: 0
    }
    .device-price td:nth-child(3n) {
        display: none
    }
    .entry p img {
        margin: 0 auto;
        width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    #sidebar {
        width: auto;
        margin: 0;
        float: none;
        margin-bottom: 20px;
        padding-top: 0
    }
    .sidebar-menu {
        padding: 0 7%;
        margin-bottom: 20px
    }
    .promo,
    .thanks {
        width: 300px;
        margin: 0 auto
    }
    .promo {
        margin-bottom: 45px
    }
    
    .footer-col1,.footer-col2,.footer-col3 {width: 100%}
    .footer-col1,.footer-col2 {
        display:none;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        border-left: none;
        border-right: none
    }
    .footer-cols .footer-col3 {
        border: none
    }
    .footer-count {
        width: 100%;
        text-align: center;
        margin-bottom: 5px
    }
    .sbrf-rshb {
        width: 100%;
        float: none
    }
    .sbrf-rshb img {
        margin-bottom: 10px
    }
    .footer-count a {
        margin: 0
    }
    #main.home2 .entry img {
        margin: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .home-box-item {
        width: 98%;
        min-height: auto;
        margin: 0 2px 14px;
        color: #0c5d18;
        -webkit-text-size-adjust: none
    }
    .home-box-item h4 {
        min-height: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px
    }
    .desSlideshow2 {
        width: 100%
    }
    #modal_form,
    #modal_form-request {
        width: 81%;
        left: 10px;
        margin: 0;
        padding: 4px 20px
    }
}
@media screen and (max-width: 480px) {
    #header {
        margin-top: 0
    }
    #logo {
        padding-top: 44px
    }
    .years {
        display: none
    }
    .slogan {
        display: none;
        width: 68%;
        margin-bottom: 10px;
        margin-top: 16px
    }
    .telephone-shell {
        width: 100%;
        margin: 0
    }
    .telephone {
        width: 216px;
        font-size: 22px;
        margin: 0 auto;
        margin-bottom: 6px;
        float: none
    }
    .telephone a.content-button {
        padding: 6px 24px;
        font-size: 14px;
        margin-right: 18px
    }
    .telephone2 {
        width: 160px;
        font-size: 16px;
        margin: 0 auto;
        float: none
    }
    a.header-email {
        font-size: 17px
    }
    .sidebar-menu ul li {
        margin-bottom: 15px
    }
    .sidebar-menu ul li ul {
        display: none
    }
}
@media screen and (max-width: 320px) {
    .slogan {
        width: 66%
    }
    .telephone .tel1 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 25px
    }
    .telephone,
    .telephone2 {
        float: none;
        margin-left: auto;
        margin-right: auto
    }
    .telephone {
        margin-bottom: 10px
    }
}
@media screen and (max-width: 1244px) {
    .menu li {
        margin: 0 4px;
        width: 145px;
        line-height: 14px;
        font-size: 12px
    }
    .menu li:first-child + li ul {
        top: 32px;
        left: -177px;
        width: 929px
    }
    .menu li:first-child + li ul ul {
        top: 0
    }
    .menu li:first-child + li ul li a {
        line-height: 14px
    }
}
@media (min-width: 768px) and (max-width: 1004px) {
    .menu ul {
        display: none;
        top: 46px
    }
    .menu li {
        margin: 0 2px;
        width: 114px;
        line-height: 14px;
        font-size: 12px
    }
    .menu li a {
        -webkit-text-size-adjust: none;
        border: none;
        padding: 5px 0;
        line-height: 18px
    }
    .menu li:first-child + li ul {
        top: 46px;
        left: -138px;
        width: 706px
    }
}
@media (max-width: 767px) {
    .sticky-anchor {
        display: block
    }
    #sticky {
        z-index: 99;
        width: 95%;
        margin-left: auto;
        margin-right: auto
    }
    .sticky-element {
        box-shadow: none;
        background: none
    }
    .menu-static-1.fixed {
        position: fixed;
        top: 0;
        width: 95%;
        box-shadow: 0 0 10px #000
    }
    .menu-static-2.fixed {
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 9
    }
    .menu {
        display: none;
        background: #fff;
        box-shadow: 0 0 10px #000
    }
    .mobile-menu {
        position: relative;
        display: block;
        text-align: center;
        box-shadow: 0 0 10px #000
    }
    .menu ul {
        padding: 0;
        display: none;
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: none;
        text-align: center
    }
    .menu li {
        display: block;
        background: #ffffff;
        margin: 0;
        background: none;
        width: 100%;
        line-height: 26px
    }
    .menu li:first-child {
        margin: 0
    }
    .menu li:nth-child(2) ul {
        left: 0
    }
    .menu li a {
        font-size: 14px;
        -webkit-text-size-adjust: none
    }
    .menu li:hover > ul {
        display: none
    }
    .menu li:hover a {
        background: none;
        color: #0c5d18
    }
    .menu li:hover > a:hover {
        color: #7dc33a
    }
    .menu li li:hover > a {
        color: #339900
    }
    .menu li li:hover > a:hover {
        background: none;
        color: #7dc33a
    }
    .menu li:active > a:active,
    .menu li li:active > a:active {
        background: #2d9a23;
        color: #fff
    }
    .menu ul li li {
        border: none
    }
    .menu ul li {
        position: relative;
        width: 100%;
        background: none;
        box-shadow: none;
        margin: 0
    }
    .menu ul li a {
        font-weight: normal;
        padding-left: 20px
    }
    .menu ul li li a {
        font-weight: normal;
        padding: 6px
    }
    .menu ul li::before {
        position: absolute;
        content: "";
        top: 12px;
        left: 2px;
        background: url(assets/templates/uss/img/uss-icons.png) no-repeat;
        width: 10px;
        height: 13px;
        background-position: -31px -56px
    }
    .menu ul ul li {
        display: none
    }
    .row--nav {
        font-size: 18px;
        line-height: 26px
    }
    .my-gallery.one-image,
    .my-gallery.image-float-left,
    .my-gallery.image-float-right {
        width: 100%
    }
    .my-gallery {
        width: 100%;
        margin: 0 auto;
        float: none
    }
    .my-gallery a {
        margin: 0 4px 4px 0
    }
    .section--head p {
        font-size: 18px;
        line-height: 24px
    }
}
@media (max-width: 480px) {
    #sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0
    }
    .mobile-menu {
        margin-bottom: 0
    }
    .menu a {
        font-size: 120%;
        padding: 10px 8px;
        -webkit-text-size-adjust: none
    }
    .my-gallery a {
        margin: 0 2px 2px 0;
        width: 32.5%
    }
    .my-gallery a:first-child {
        width: 98.9%;
        max-height: inherit
    }
}
@media screen and (max-width: 350px) {
    .my-gallery a {
        margin: 0 1px 1px 0
    }
}